body {
      font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
      background: #eef2f7;
      margin: 0;
    }

    header {
      background: #4caf50;
      color: white;
      text-align: center;
      padding: 25px;
    }

    .quiz-box {
      max-width: 600px;
      background: white;
      margin: 40px auto;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    }

    h2 {
      margin-top: 0;
    }

    button {
      display: block;
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: none;
      border-radius: 8px;
      background: #4caf50;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }
/* navbar */
    .navbar {
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    }

    .navbar li {
    padding: 15px 25px;
    cursor: pointer;
    font-weight: 500;
    }

    .navbar li:hover {
    background: #43a047;
    color: white;
    }
/*-----------------------------------------------*/
    button:hover {
      background: #43a047;
    }

    .result {
      margin-top: 15px;
      font-weight: bold;
    }